<div class="jumbotron">
  <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-5">
   {{res}}
  </div>
  </div>
  <br />
  <!-- <div class="row">
  <button class="btn btn-danger" (click)="reset()">Reset</button>
  </div> -->
  <br />
<div class="row">
  <div class="col-md-4">
      <button class="btn btn-primary" (click)="userClick(0)">Rock</button>
  </div>
  <div class="col-md-4">
  <button class="btn btn-primary" (click)="userClick(1)">Paper</button>
</div>
  <div class="col-md-4">
  <button class="btn btn-primary" (click)="userClick(2)">Scissor</button>
</div>
</div><br />
<div class="row">
    <div class="col-md-5"></div>
  <div class="col-md-5">
    {{disp_res}}
  </div>
</div>
</div>